
body {
  color: #3e687d;
}


.center, .content, .ff, .left, #top-btn, .number-color-content{
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
} 

#top-page {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #d6a100;
  position: relative;
}

.center {
  color: #3e687d;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #3e687d;
  font-size: 20px;
  font-weight: bold;
}

#p-1, #p-2, #p-3, #p-4, #p-5, #p-6, #p-7 {
  width: 200px;
  margin: 0 auto;
  background: white;
  opacity: 0.6;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 60px;
  color: black;
}

#p-1 {
  width: 200px;
  margin-top: 40px;
  margin-bottom: 60px;
}

#p-2 {
 width: 230px;
 margin-top: 20px;
 margin-bottom: 30px;
}

#p-3 {
  width: 230px;
  margin-bottom: 30px;
}

#p-4 {
  width: 290px;
  margin-top: 30px;
  margin-bottom: 40px;
}

#p-5 {
  width: 230px;
  line-height: 60px;
  height: 60px;
}

#p-6 {
  width: 230px;
  height: 60px;
  line-height: 60px;
  opacity: 0.7;
  background: #bee0c2;
  margin-top: 25px;
  margin-bottom: 10px;
}

#p-7 {
  width: 230px;
  height: 60px;
  line-height: 60px;
  margin-top: 25px;
  margin-bottom: 30px;
}



.number-color-content, .number-genre-content, .number-mood-content {
  /* color: #; */
  font-size: 20px;
  font-weight: bold;
}



#first-page > div {
  /* background: linear-gradient(to right, #7b5544 0%, #7b5544 10%, #ffb18c 10%, #ffb18c 90%, #7b5544 90%, #7b5544 100%); */
  /* opacity: 0.7; */
  /* background: linear-gradient(to right, #6b3f31 0%, #6b3f31 10%, #fff462 10%, #fff462 90%, #6b3f31 90%, #6b3f31 100%);
  opacity: 0.7;
  background: linear-gradient(to bottom, #6b3f31 0%, #6b3f31 3%, #fff 3%, #fff 5%, #6b3f31 5%, #6b3f31 6%, #fff 6%, #fff 8%, #6b3f31 8%, #6b3f31 9%, #fff 9%, #fff 11%, #6b3f31 11%, #6b3f31 14%, #d6a100 14%, #d6a100 ); */
  background: linear-gradient(to bottom, #6f5436 0%, #6f5436 2%, #fff 2%, #fff 3%, #6f5436 3%, #6f5436 3.5%, #fff 3.5%, #fff 4.5%, #6f5436 4.5%, #6f5436 5%, #fff 5%, #fff 6%, #6f5436 6%, #6f5436 8%, #d6a100 8%, #d6a100 )
}

#select-page > div {
  background-image: url(../img/☆angel2.png);
  /* background: #ffe556; */
  background-size: cover;
}

#color-select-page > div {
  /* background: #eae5e3; */
  background-image: url(../img/☆laland4.png);
  background-size: cover;
}

#mood-select-page > div {
  background-image: url(../img/☆moonlight.png);
  background-size: cover;
}

#genre-select-page > div {
  background-image: url(../img/☆moonrise4.png);
  background-size: cover;
}

#number-color-page > div {
  background-image: url(../img/☆ブエナビスタ3.png);
  background-size: cover;
}

#number-mood-page > div {
  background-image: url(../img/☆instantnuma2.png);
  background-size: cover;
}

#number-genre-page > div {
  background: #ffe556;
}

#recommend-page > div {
  /* background: #54917f; */
  /* background: #abb1b5; */
  /* background: #bfbec5; */
  /* background: #bcc7db; */
  /* background: #b4ada9; */
  /* background: #c0c5c2; */
  background: #cbd0d3;
  /* background: #d3d3d8; */
}

.above-top {
  position: relative;
  top: 150px;
  left: 10px;
}
#tap-btn {
  /* color: #ffb7b7;
  font-size: 32px; */
  position: relative;
  top: 150px;
}

.tap-here {
  position: relative;
  top: 140px;

}

#top-btn1, #top-btn2, #top-btn3, #top-btn4, #top-btn5, #top-btn6, #top-btn7, #top-btn8 {
  text-align: center;
  background-color: #4d4398;
  opacity: 0.7;
  border-radius: 45%;
  width: 150px;
  margin: 20px auto;
}

#top-btn5 {
  opacity: 0.7;
  background-color: #004d25;
}

.select-btn {
  font-size: 20px;
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  color: #3e687d;
  width: 120px;

}

.color-select-btn {
  font-size: 20px;
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  /* color: #3e687d; */
  width: 120px;
}

/* ＜色選択＞ボタンの色 */
#red-btn {
  background-color: tomato;
}

#blue-btn {
  background-color: #00a0dc;
}

#yellow-btn {
  background-color: #ffe556;
}

#green-btn {
  background-color: #28a44a;
}

#white-btn {
  background-color:  white;
  color: gray
}

#black-btn {
  background: #5b5c76;
}

#other {
  background-color: #aeb5dc;
  color: gray;
}

.mood-select-btn {
  font-size: 20px;
  display: block;
  text-align: left;
  padding-left: 30px;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  color: #3e687d;
  width: 80%;
  
}

.genre-select-btn {
  font-size: 20px;
  display: block;
  text-align: left;
  padding-left: 30px;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  color: #3e687d;
  width: 75%; 
}

.number-color {
  text-align: center;
}
.number-color-btn, .number-genre-btn {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  background-color: #fff;
  color: #202020;
  font-weight: bold;
}

.number-color-btn {
  border: 2px solid #ffdc00;
}



.number-mood-btn {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 45px;
  height: 45px;
  margin: 20px auto;
  border-radius: 50%;
  background-color: #fff;
  color: #3e687d;
  border: 2px solid #009854;
}



/* .icon {
  display: inline-block;
  bottom: 80px;
} */


#tomato-icon {
  margin-left: 50px;
}

.next-btn{
  display: none;
}

.back {
  margin-bottom: 40px;
}


#recommend-film-title {
  font-size: 30px;
  font-weight: normal;
  width: auto;
  color: black;
  opacity: 0.7;
  padding: 5px 25px 5px 10px;
  /* background: aliceblue;   */
  background: #e6eae6;
}

#stop {
  position: relative;
}

#recommend-back {
  width: 80%;
  height: 320px;
  margin: 0 auto;
  background:#e6eae6;
  opacity: 0.4;
}

 #recommend-film-img {
  position: absolute; 
  width: 150px;
  top: 17%;
  left: 29%;
  
}

#recommend-comment {
  font-size: 20px;
  font-weight: normal;
  width: auto;
  /* background: aliceblue; */
  background: #e6eae6;
  opacity: 0.6;
  color: black;
  animation: fadeIn 1s linear 0s 1 normal;
}

.border {
  padding: 10px;
  border-top: 7px dotted;
  border-bottom: 7px dotted;
  font-weight: normal;
}

#film-all {
  font-size: 18px;
  font-weight: normal;
  list-style: circle;
  text-align: left;
  margin-top: 20px;
  margin-left: 30px;
  padding-bottom: 10px;
}

@keyframes fadeIn { 
  0% {opacity: 0} 
  100% {opacity: 0.6} 
}


.fuwafuwa {
  -webkit-animation:fuwafuwa 3s infinite linear alternate;
  animation:fuwafuwa 3s infinite linear alternate;
  }
  
  @-webkit-keyframes fuwafuwa {
  0% {-webkit-transform:translate(0, 0) rotate(-5deg);}
  50% {-webkit-transform:translate(0, -5px) rotate(0deg);}
  100% {-webkit-transform:translate(0, 0)rotate(5deg);}
  }
  
  @keyframes fuwafuwa {
  0% {transform:translate(0, 0) rotate(-5deg);}
  50% {transform:translate(0, -5px) rotate(0deg);}
  100% {transform:translate(0, 0)rotate(5deg);}
  }

  .buruburu {
    -webkit-animation:buruburu 0.3s infinite linear alternate;
    animation:buruburu 0.3s infinite linear alternate;
}

@-webkit-keyframes buruburu {
    0% {-webkit-transform:translate(0, 0) rotate(-3deg);}
    50% {-webkit-transform:translate(0, -1px) rotate(0deg);}
    100% {-webkit-transform:translate(0, 0)rotate(3deg);}
}

@keyframes buruburu {
    0% {transform:translate(0, 0) rotate(-3deg);}
    50% {transform:translate(0, -1px) rotate(0deg);}
    100% {transform:translate(0, 0)rotate(3deg);}
}







