
body {
  color: #3e687d;
}


.center, .content, .ff, .left, #top-btn{
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
} 


.center {
  color: #3e687d;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: #3e687d;
  
}

.fukidashi {
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 25px;
}

#top-btn {
  text-align: center;
  background-color: #c5a3cb;
  width: 150px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
  /* background: -moz-linear-gradient(top, #dcc8dc, #c5a3cb 30%, #9944cc 60%, #748af8);
  background: -webkit-linear-gradient(top, #dcc8dc, #c5a3cb 30%, #9944cc 60%, #748af8 );
  background: linear-gradient(to bottom, #dcc8dc, #c5a3cb 30%, #9944cc 60%, #748af8); */
}

.select-btn {
  font-size: 20px;
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: #aeb5dc;
  width: 120px;

}

.color-select-btn {
  font-size: 20px;
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: #aeb5dc;
  width: 120px;
}

/* ＜色選択＞ボタンの色 */
#red-btn {
  background-color: tomato;
}

#blue-btn {
  background-color: #00a0dc;
}

#yellow-btn {
  background-color: #ffe556;
}

#green-btn {
  background-color: #28a44a;
}

#white-btn {
  background-color:  white;
  color: gray
}

#black-btn {
  background: #5b5c76;
}

#other {
  background-color: #aeb5dc;
  color: gray;
}





.mood-select-btn {
  font-size: 20px;
  display: block;
  text-align: left;
  padding-left: 30px;
  position: relative;
  margin: 0 auto;
  background-color: #aeb5dc;
  width: 80%;
  
}

.genre-select-btn {
  font-size: 20px;
  display: block;
  text-align: left;
  padding-left: 30px;
  position: relative;
  margin: 0 auto;
  background-color: #aeb5dc;
  width: 75%;
  
}
.number-color {
  text-align: center;
}
.number-color-btn {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 20px auto;
  border-radius: 50%;
  background-color: #aeb5dc;
  
}

.number-mood-btn {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 45px;
  height: 45px;
  margin: 20px auto;
  border-radius: 50%;
  background-color: #aeb5dc;
}

.number-genre-btn {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 45px;
  height: 45px;
  margin: 20px auto;
  border-radius: 50%;
  background-color: #aeb5dc;
}

.icon {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  bottom: 80px;
}

.next {
  display: none;
}

.back {
  margin-bottom: 40px;
}

#recommend-film {
  font-size: 35px;
}







